/* Hoja de estilos principal */

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* Carga iconFont */
@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot");
    src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff")
        format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook2:before {
	content: "\ea91";
  }
  .icon-instagram:before {
	content: "\ea92";
  }
  .icon-twitter:before {
	content: "\ea96";
  }
  .icon-pinterest:before {
	content: "\ead1";
  }

/* Variables */
:root{

	/* ## Colors */

	/* ### Primary */

	--blue_intro: hsl(217, 28%, 15%);
	--blue_main: hsl(218, 28%, 13%);
	--blue_footer: hsl(216, 53%, 9%);
	--blue_testimonials: hsl(219, 30%, 18%);

	/* ### Accent */

	--cyan: hsl(176, 68%, 64%);
	--blue: hsl(198, 60%, 50%);
	--red: hsl(0, 100%, 63%);

	/* ### Neutral */

	--white: hsl(0, 0%, 100%);

	/* Fuentes */
	--open_sans: 'Open Sans', sans-serif;
	--raleway: 'Raleway', sans-serif;
}

/* Diseño */
html {
    font-size: 16px;
    font-size: 1rem;
	font-family: var(--open_sans);
}
.home{
	width: 100vw;
	height: 1205.07vw;
}
.page{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 1.6% 13.03% 27.38% 15.83% 15.6% 9.46% 17.1%;
	grid-template-columns: 100%;
	background-color: var(--blue_intro);
}
.masthead{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 49.33% 50.67%;
}
.masthead .logo{
	padding-left: 10.08%;
	justify-self: start;
	align-self: center;
	width: 48.48%;
}
.masthead .main-navigation{
	padding-right: 13.16%;
	justify-self: end;
	align-self: center;
	width: 100%;
}
.masthead .main-navigation ul{
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 43.64% 34.54% 21.82%;
}
.masthead .main-navigation .navigation-item{
	display: grid;
}
.masthead .main-navigation .navigation-item a{
	align-self: center;
	font-size: 10px;
	font-size: 0.625rem;
	color: #ccc;
	font-weight: 400;
}
.masthead .main-navigation .navigation-item a:hover{
	color: var(--white);
	text-decoration: underline var(--white);
}
.main{
	display: grid;
	grid-template-rows: 46.18% 53.82%;
	grid-template-columns: 100%;
	background: url(../images/bg-curvy-mobile.svg) no-repeat center/contain, 
	linear-gradient(
    to bottom,
    var(--blue_intro) 0%,
    var(--blue_intro) 60%,
    var(--blue_main) 60%,
    var(--blue_main) 100%
	);
}
.main .entry-thumbnail{
	padding: 8.82% 9.33%;
	width: 100%;
	height: 100%;
	justify-self: center;
	align-self: center;
	object-fit: contain;
	object-position: center;
}
.main .entry-content{
	padding: 2.72% 9.33% 4.07%;
	display: grid;
	grid-template-rows: 43.32% 39.35% 17.33%;
	grid-template-columns: 100%;
}
.main .entry-content .entry-tittle{
	justify-content: center;
	align-self: stretch;
	font-size: 22px;
	font-size: 1.375rem;
	font-weight: 700;
	font-family: var(--raleway);
	color: var(--white);
	text-align: center;
}
.main .entry-content .entry-summary{
	justify-content: center;
	align-self: stretch;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400;
	font-family: var(--raleway);
	color: var(--white);
	text-align: center;
}
.main .entry-content .entry-button{
	justify-self: center;
	align-self: stretch;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400;
	border-radius: 30px;
	width: 78.69%;
	background: linear-gradient(to right, var(--cyan), var(--blue));
	color: var(--white);
}
.main .entry-content .entry-button:hover{
	cursor: pointer;
	background: linear-gradient(to right, var(--cyan), var(--cyan));
}
.entry-properties{
	padding: 18.65% 9.33%;
	display: grid;
	grid-template-rows: 20.45% 21.52% 21.78% 18.25%;
	grid-template-columns: 100%;
	grid-row-gap: 6%;
	background-color: var(--blue_main);
}
.entry-properties .entry-property{
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 51.07% 48.93%;
	grid-template-columns: 100%;
}
.entry-properties .entry-property .entry-thumbnail{
	justify-self: center;
	align-self: center;
	height: 58.78%;
	width: auto;
	object-fit: contain;
	object-position: center;
}
.entry-properties .entry-property .entry-content{
	justify-self: center;
	align-self: stretch;
	display: grid;
	grid-template-rows: 30.05% 69.95%;
	grid-template-columns: 100%;
	color: var(--white);
}
.entry-properties .entry-property .entry-content .entry-tittle{
	justify-self: center;
	align-self: start;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 700;
	text-align: center;
}
.entry-properties .entry-property .entry-content .entry-summary{
	justify-self: center;
	align-self: start;
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: 400;
	text-align: center;
}
.entry-works{
	padding: 9% 9.33% 25.85%;
	display: grid;
	grid-template-rows: 46.28% 53.72%;
	grid-template-columns: 100%;
	background-color: var(--blue_main);
}
.entry-works .entry-thumbnail{
	justify-self: stretch;
	align-self: stretch;
	object-fit: contain;
	object-position: center;
}
.entry-works .entry-content{
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 24.91% 54.61% 20.48%;
	grid-template-columns: 100%;
	color: var(--white);
}
.entry-works .entry-content .entry-tittle{
	justify-self: start;
	align-self: center;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 700;
}
.entry-works .entry-content .entry-summary{
	justify-self: start;
	align-self: start;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400;
}
.entry-works .entry-content .entry-link{
	justify-self: start;
	align-self: start;
	width: auto;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: auto auto;
	border-bottom: 1px solid var(--cyan);
}
.entry-works .entry-content .entry-link:hover{
	border-bottom: 1px solid var(--white);
}
.entry-works .entry-content .entry-link .entry-link-text{
	justify-self: start;
	align-self: center;
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 400;
	color: var(--cyan);
}
.entry-works .entry-content .entry-link:hover .entry-link-text{
	color: var(--white);
}
.entry-works .entry-content .entry-link .entry-link-icon{
	justify-self: start;
	align-self: center;
	object-fit: contain;
	object-position: center;
	margin-left: 10%;
}
.entry-works .entry-content .entry-link:hover .entry-link-icon circle{
	fill: var(--white);
}
.entry-comments{
	justify-self: stretch;
	align-self: stretch;
	padding: 4.6% 12.67% 35.71%;
	display: grid;
	grid-template-rows: repeat(3, 30.4%);
	grid-template-columns: 100%;
	grid-row-gap: 4.4%;
	background-color: var(--blue_main);
	background-image: url(../images/bg-quotes.png);
	background-repeat: no-repeat;
	background-position: top left;
	background-position-x: 15.17%;
	background-size: 5%;
}
.entry-comments .entry-comment{
	padding: 2.5% 0;
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 55.94% 44.06%;
	grid-template-columns: 100%;
	color: var(--white);
	background-color: var(--blue_testimonials);
	border-radius: 10px;
}
.entry-comments .entry-comment .entry-text{
	padding: 0 7.5%;
	justify-self: center;
	align-self: center;
	line-height: 2;
	font-size: 10px;
	font-size: 0.625rem;
	font-weight: 400;
}
.entry-comments .entry-comment .entry-user{
	padding: 0 7.5%;
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 49% 48%;
	grid-template-columns: 10% 90%;
	grid-row-gap: 3%;
}
.entry-comments .entry-comment .entry-user .entry-photo{
	grid-column: 1/2;
	grid-row: 1/3;
	width: 100%;
	height: auto;
	justify-self: center;
	align-self: center;
	object-fit: contain;
	object-position: center;
	border-radius: 50%;
}
.entry-comments .entry-comment .entry-user .entry-name{
	padding-left: 3.21%;
	grid-column: 2/3;
	grid-row: 1/2;
	align-self: end;
	font-size: 10px;
	font-size: 0.625rem;
	font-weight: 400;
}
.entry-comments .entry-comment .entry-user .entry-job{
	padding-left: 3.21%;
	grid-column: 2/3;
	grid-row: 2/3;
	align-self: start;
	font-size: 8px;
	font-size: 0.5rem;
	font-weight: 400;
}
.entry-access{
	display: grid;
	justify-self: stretch;
	align-self: stretch;
	background: linear-gradient(
    to bottom,
    var(--blue_main) 0%,
    var(--blue_main) 41.52%,
    var(--blue_footer) 41.52%,
    var(--blue_footer) 100%
  );
}
.entry-access .entry-content{
	height: 82.46%;
	margin: 0 5.07% 17.54%;
	display: grid;
	grid-template-rows: 16.6% 29.79% 22.7% 20.71% 10.2%;
	grid-template-columns: 100%;
	background-color: var(--blue_intro);
	color: var(--white);
	border-radius: 10px;
	padding: 0 8%;
}
.entry-access .entry-content .entry-tittle{
	justify-self: center;
	align-self: end;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 700;
}
.entry-access .entry-content .entry-summary{
	justify-self: center;
	align-self: end;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400;
	text-align: center;
}
.entry-access .entry-content .entry-email{
	justify-self: center;
	align-self: end;
	width: 100%;
	height: 59.98%;
	border-radius: 30px;
	font-size: 10px;
	font-size: 0.625rem;
	font-weight: 400;
	padding-left: 8%;
	color: gray;
}
.entry-access .entry-content .entry-button{
	justify-self: center;
	align-self: end;
	width: 100%;
	height: 65.75%;
	border-radius: 30px;
	background: linear-gradient(to right, var(--cyan), var(--blue));
	color: var(--white);
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400;
}
.entry-access .entry-content .entry-button:hover{
	cursor: pointer;
	background: linear-gradient(to right, var(--cyan), var(--cyan));
}
.entry-access .entry-content .entry-error{
	display: none;
	justify-self: start;
	align-self: center;
	color: var(--red);
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 400;
	padding-left: 8%;
}
.footer{
	justify-self: stretch;
	align-self: stretch;
	background-color: var(--blue_footer);
	display: grid;
	grid-template-rows: 12.43% 32.43% 55.14%;
	grid-template-columns: 100%;
}
.footer .footer-logo{
	padding: 0 10.4%;
	justify-self: start;
	align-self: start;
	object-fit: contain;
	object-position: center;
}
.footer .footer-info{
	padding: 0 7.2%;
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 45.10% 15.38% 39.52%;
	grid-template-columns: 100%;
}
.footer .footer-info section{
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 12.77% 87.23%;
}
.footer .footer-info .footer-icon{
	grid-column: 1/2;
	align-self: start;
	justify-self: start;
}
.footer .footer-info .footer-description{
	grid-column: 2/3;
	align-self: start;
	justify-self: start;
	color: var(--white);
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400;
}
.footer .footer-navigation{
	padding: 0 7.2%;
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 43.19% 40.61% 16.2%;
	grid-template-columns: 100%;
	color: #ccc;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
}
.footer .footer-navigation ul li:hover{
	color: var(--white);
}
.footer .footer-navigation .footer-menu-1{
	justify-self: stretch;
	align-self: start;
	height: 70.65%;
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: 100%;
}
.footer .footer-navigation .footer-menu-2{
	justify-self: stretch;
	align-self: start;
	height: 53.76%;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: 100%;
}
.footer .footer-navigation .footer-social{
	justify-self: center;
	align-self: start;
	width: 33.12%;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 10%;
}
.footer .footer-navigation .footer-social a{
	padding: 20%;
	border: 1px solid var(--white);
	border-radius: 50%;
}
.footer .footer-navigation .footer-social a:hover{
	color: var(--cyan);
	border: 1px solid var(--cyan);
}

/* 
  ##Device = Tablets, Ipads
  ##Screen = B/w 768px to 1024px
*/
 @media (min-width: 768px) and (max-width: 1024px) {
	.home{
		width: 100vw;
		height: 602.53vw;
	}
	.masthead{
		grid-template-columns: 69.33% 30.67%;
	}
	.masthead .logo{
		width: 28.48%;
	}
	.main{
		background: url(../images/bg-curvy-desktop.svg) no-repeat center/contain, 
		linear-gradient(
		to bottom,
		var(--blue_intro) 0%,
		var(--blue_intro) 60%,
		var(--blue_main) 60%,
		var(--blue_main) 100%
		);
	}
	.entry-comments .entry-comment .entry-user{
		grid-template-columns: 7% 93%;
	}
 }
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px){
	.home{
		width: 100vw;
		height: 251.3vw;
	}
	.page{
		grid-template-rows: 5.42% 29.7% 17.06% 12.88% 16.08% 7.75% 11.11%;
	}
	.masthead{
		grid-template-columns: 75.49% 24.51%;
	}
	.masthead .logo{
		padding-left: 7.22%;
		width: 17.46%;
	}
	.masthead .main-navigation{
		padding-right: 22.38%;
	}
	.masthead .main-navigation .navigation-item a{
		font-size: 16px;
		font-size: 1rem;
	}
	.main{
		grid-template-rows: 49.86% 50.14%;
		background: url(../images/bg-curvy-desktop.svg) no-repeat bottom/contain, 
		linear-gradient(
		to bottom,
		var(--blue_intro) 0%,
		var(--blue_intro) 60%,
		var(--blue_intro) 60%,
		var(--blue_intro) 100%
		);
	}
	.main .entry-thumbnail{
		padding: 0 24.86%;
	}
	.main .entry-content{
		padding: 0 24.86%;
		grid-template-rows: 36.36% 21.41% 42.23%;
	}
	.main .entry-content .entry-tittle{
		justify-content: center;
		align-self: center;
		font-size: 34px;
		font-size: 2.125rem;
		text-align: center;
	}
	.main .entry-content .entry-summary{
		padding: 0 5%;
		justify-content: center;
		align-self: start;
		font-size: 20px;
		font-size: 1.25rem;
	}
	.main .entry-content .entry-button{
		justify-self: center;
		align-self: start;
		font-size: 20px;
		font-size: 1.25rem;
		width: 38.67%;
		height: 24.89%;
	}
	.entry-properties{
		padding: 0 19.44% 3.73%;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 0;
		grid-column-gap: 17%;
	}
	.entry-properties .entry-property .entry-content .entry-tittle{
		font-size: 20px;
		font-size: 1.25rem;
	}
	.entry-works{
		padding: 0 6.94%;
		grid-template-rows: 48.06% 32.19% 19.75%;
		grid-template-columns: 50.16% 45.84%;
		grid-column-gap: 4%;
		background-color: var(--blue_main);
	}
	.entry-works .entry-thumbnail{
		grid-row: 1/4;
		grid-column: 1/2;
	}
	.entry-works .entry-content{
		grid-row: 1/4;
		grid-column: 2/3;
		grid-template-rows: 50.22% 32.19% 17.59%;
	}
	.entry-works .entry-content .entry-tittle{
		padding-right: 26.4%;
		align-self: end;
		font-size: 34px;
		font-size: 2.125rem;
	}
	.entry-works .entry-content .entry-summary{
		align-self: center;
		font-size: 16px;
		font-size: 1rem;
	}
	.entry-works .entry-content .entry-link .entry-link-text{
		font-size: 16px;
		font-size: 1rem;
	}
	.entry-comments{
		padding: 0 9.44%;
		grid-template-rows: 100%;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 3.4%;
		grid-row-gap: 0;
		background-position-x:  9.44%;
		background-position-y: 27%;
	}
	.entry-comments .entry-comment{
		align-self: center;
		height: 34.36%;
	}
	.entry-access .entry-content{
		justify-self: center;
		height: 100%;
		width: 59.72%;
		margin: 0;
		padding: 1.1% 5.21%;
		grid-template-rows: 39.28% 27.14% 18.58% 15%;
		grid-template-columns: 67.61% 28.39%;
		grid-column-gap: 4%
	}
	.entry-comments .entry-comment .entry-text{
		font-size: 12px;
		font-size: 0.75rem;
	}
	.entry-access .entry-content .entry-tittle{
		grid-column: 1/3;
		justify-self: center;
		align-self: center;
		font-size: 28px;
		font-size: 1.75rem;
	}
	.entry-access .entry-content .entry-summary{
		padding: 0 3.2%;
		grid-column: 1/3;
		justify-self: center;
		align-self: start;
		font-size: 14px;
		font-size: 0.875rem;
	}
	.entry-access .entry-content .entry-email{
		justify-self: end;
		align-self: center;
		width: 100%;
		height: 100%;
		font-size: 10px;
		font-size: 0.625rem;
	}
	.entry-access .entry-content .entry-button{
		justify-self: start;
		align-self: center;
		width: 100%;
		height: 100%;
		font-size: 14px;
		font-size: 0.875rem;
	}
	.footer{
		padding: 2.26% 8.19%;
		grid-template-rows: 21.39% 78.61%;
		grid-template-columns: 64.54% 35.46%;
	}
	.footer .footer-logo{
		justify-self: stretch;
		align-self: stretch;
		grid-column: 1/2;
		grid-row: 1/2;
		height: 50%;
		object-fit: contain;
		object-position: left;
		padding: 0;
	}
	.footer .footer-info{
		grid-column: 1/2;
		grid-row: 2/3;
		padding: 0;
		justify-self: stretch;
		align-self: stretch;
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: 59.58% 40.42%;
	}
	.footer .footer-info .footer-icon{
		align-self: start;
		justify-self: start;
	}
	.footer .footer-info section{
		padding-right: 5%;
	}
	.footer .footer-info .footer-info-location{
		grid-row: 1/3;
		grid-column: 1/2;
	}
	.footer .footer-info .footer-info-phone{
		grid-row: 1/2;
		grid-column: 2/3;
		align-self: start;
	}
	.footer .footer-info .footer-info-mail{
		grid-row: 1/2;
		grid-column: 2/3;
		align-self: center;
	}
	.footer .footer-info .footer-description{
		align-self: start;
		justify-self: start;
		color: var(--white);
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: 400;
	}
	.footer .footer-navigation{
		grid-column: 2/3;
		grid-row: 2/3;
		padding: 0;
		grid-template-rows: 100%;
		grid-template-columns: 31.66% 42.43% 25.91%;
	}
	.footer .footer-navigation .footer-social{
		width: 100%;
	}
}
/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
}
/*
##Device = Desktops
##Screen = Narrow computer screen
*/
@media (min-width: 1281px) and (max-height: 1024px) {
}